.notfound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.notfound-main {
    background: white;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px silver;
}

.notfound-main h1 {
    font-size: 6rem;
    margin: 0;
    color: black;
}

.home-button {
    padding: 1rem 1.5rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.home-button:hover {
    background-color: darkblue;
}